.header {
	background: var(--dark-blue);
	position: relative;

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-left: auto;
		margin-right: auto;
		height: var(--header-height);
		@include content-width;
	}

	&__company {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 12px;
	}
	&__company-logo {
		height: 40px;
	}
	&__company-name {
		height: 16px;
	}

	&_fixed {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 99999;
	}

	&__desktop-elem {
		@media screen and (max-width: 768px) {
			display: none !important;
		}
	}

	&__mobile-elements {
		display: none;
		@media screen and (max-width: 768px) {
			display: block;
		}
	}

	&__burger-btn {
		cursor: pointer;
		width: 32px;
		height: 32px;
	}

	&__hidden-menu {
		position: absolute;
		top: calc(var(--header-height) - 1px);
		left: 0px;
		z-index: 999999;
		width: 100%;
		height: calc(100vh - var(--header-height) + 1px);
		background: var(--dark-blue);
		flex-direction: column;
		justify-content: space-between;
		display: none;
		&_show {
			display: flex;
		}
	}
	&__mobile-menu {
		display: flex;
		flex-direction: column;
		gap: 30px;
		margin: 40px 20px;
		overflow-y: auto;
		max-height: calc(100% - 180px);
		&::-webkit-scrollbar {
			display: none;
		}
	}
	&__mobile-link {
		font-size: 28px;
		font-weight: 700;
		line-height: 33.6px;
		color: var(--text-secondary);
	}
	&__mobile-btn {
		margin-bottom: 50px;
		text-align: center;
		width: calc(100% - 40px);
		padding-left: 20px;
		padding-right: 20px;
	}
}
