.promo-block {
	&__wrapper {
		background: var(--dark-blue);
		margin-top: var(--header-height);
		position: relative;
		overflow: hidden;
		height: 750px;
		@media screen and (max-width: 768px) {
			height: 100%;
		}
	}
	&__wrapper::before {
		content: "";
		height: 286px;
		width: 100%;
		position: absolute;
		bottom: 0px;
		left: 0px;
		background: var(--theme-red);
		clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 calc(100% - 16px));
		@media screen and (max-width: 768px) {
			height: 86px;
		}
	}
	&__wrapper::after {
		content: "";
		height: 270px;
		width: 100%;
		position: absolute;
		bottom: -1px;
		left: 0px;
		background: #f8f9ff;
		clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 calc(100% - 1px));
		@media screen and (max-width: 768px) {
			height: 70px;
		}
	}
	&__content {
		@include content-width;
		margin: 110px auto;
		z-index: 1;
		display: flex;
		gap: 5vw;
		@media screen and (max-width: 768px) {
			flex-direction: column-reverse;
			margin-top: 40px;
			margin-bottom: 120px;
			gap: 25px;
		}
	}
	&__content > * {
		flex: 1 1;
	}
	&__content::before {
		content: "";
		position: absolute;
		left: -6vw;
		top: -20vw;
		background-image: url("./images/promo-block/back-logo.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 41vw;
		width: 41vw;
		opacity: 7%;
		pointer-events: none;
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
	&__content::after {
		content: "";
		position: absolute;
		right: -22vw;
		bottom: -38vw;
		background-image: url("./images/promo-block/back-logo.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 90vw;
		width: 90vw;
		opacity: 7%;
		pointer-events: none;
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
	&__description {
		padding-top: 80px;
		z-index: 1;
		@media screen and (max-width: 900px) {
			padding-top: 40px;
		}
		@media screen and (max-width: 768px) {
			padding-top: 0px;
		}
	}
	&__description-title {
		color: #fff;
		margin-bottom: 15px;
	}
	&__description-text {
		color: var(--text-secondary);
	}
	&__description-btn {
		margin-top: 50px;
		@media screen and (max-width: 768px) {
			text-align: center;
		}
	}
	&__charts-preview {
		position: relative;
		display: flex;
		align-items: center;
		z-index: 1;
	}
	&__circle-progressbar-wrapper {
		padding: 26px 34px 26px 34px;
		border-radius: 30px;
		background: #fff;
		box-shadow: 0px 18px 50px -15px #192a5933;
		display: flex;
		flex-direction: column;
		gap: 10px;
		z-index: 2;
		margin-top: 120px;
		@media screen and (max-width: 900px) {
			margin-top: 80px;
		}
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
	&__progressbar-hint {
		font-size: 0.963rem;
		font-weight: 400;
		line-height: 1.348rem;
		color: var(--text-secondary);
	}
	&__circle-progressbar-area {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 26px;
		padding-right: 14px;
		gap: 3vw;
	}
	&__circle-progressbars {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}
	&__circle-progressbar_absolute {
		position: absolute;
	}
	&__circle-progressbar-text {
		font-size: 7.22px;
		font-weight: 400;
		line-height: 10.11px;
		text-align: center;
		color: var(--text-secondary);
		position: absolute;
	}
	&__circle-progressbar-data-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 22px;
	}
	&__circle-progressbar-data {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__progressbar-percentage {
		font-size: 2.372rem;
		font-weight: 400;
		line-height: 2.78rem;

		&_color_red {
			color: var(--theme-red);
		}
		&_color_blue {
			color: var(--theme-blue);
		}
	}
	&__percentage-hint {
		font-size: 1.083rem;
		font-weight: 400;
		line-height: 1.625rem;
		color: var(--text-secondary);
	}
	&__other-charts {
		padding: 22px 27px 22px 27px;
		border-radius: 30px;
		box-shadow: 0px 18px 50px -15px #192a5933;
		background: #fff;
		position: absolute;
		top: 0px;
		left: 4vw;
		height: 554px;
		@media screen and (max-width: 900px) {
			height: 480px;
		}
		@media screen and (max-width: 768px) {
			position: relative;
			left: initial;
			top: initial;
			height: initial;
			width: 100%;
		}
	}
	&__other-charts img {
		height: 100%;
		@media screen and (max-width: 768px) {
			width: 100%;
		}
	}
}
