@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
	--dark-blue: #172755;
	--text-secondary: #8794ba;
	--btn-primary-bg: #ef2a82;
	--btn-primary-bg-hover: #d61069;
	--btn-primary-bg-click: #a60c51;
	--btn-secondary-bg: #465b95;
	--btn-secondary-bg-click: #364672;
	--theme-red: #ef2a82;
	--theme-blue: #0088f0;
	--header-height: 70px;
	@media screen and (max-width: 768px) {
		--header-height: 62px;
	}
}

* {
	font-family: Roboto;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px; // for rems

	@media screen and (max-width: 900px) {
		font-size: 9px;
	}
}

body {
	background: #f8f9ff;
}

a {
	text-decoration: none;
	color: initial;
}

h1 {
	//styleName: text/H1;
	font-size: 5rem;
	font-weight: 700;
	line-height: 6rem;
}

h2 {
	//styleName: text/H2;
	font-size: 4rem;
	font-weight: 700;
	line-height: 4.8rem;
}

p {
	//styleName: text/body;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 2.52rem;
	text-align: left;
}

@mixin content-width {
	max-width: min(100% - 40px, 1180px);
}

@import "common.blocks/header", "common.blocks/page-menu",
	"common.blocks/button", "common.blocks/promo-block",
	"common.blocks/features-block", "common.blocks/page-title",
	"common.blocks/page-text", "common.blocks/registration_form",
	"common.blocks/input-block", "common.blocks/footer-block",
	"common.blocks/card";
