@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --dark-blue: #172755;
  --text-secondary: #8794ba;
  --btn-primary-bg: #ef2a82;
  --btn-primary-bg-hover: #d61069;
  --btn-primary-bg-click: #a60c51;
  --btn-secondary-bg: #465b95;
  --btn-secondary-bg-click: #364672;
  --theme-red: #ef2a82;
  --theme-blue: #0088f0;
}

* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

body {
  background: #f8f9ff;
}

a {
  text-decoration: none;
  color: initial;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: left;
}

.header {
  background: var(--dark-blue);
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  max-width: min(100% - 40px, 1180px);
}
.header__company {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.header__company-logo {
  height: 40px;
}
.header__company-name {
  height: 16px;
}
.header_fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
}

.page-menu {
  display: flex;
  gap: 36px;
  align-items: center;
}
.page-menu__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: var(--text-secondary);
  transition: 0.2s ease-in-out;
}
.page-menu__link:hover {
  color: #fff;
}

.button_style_main {
  max-width: 238px;
  width: min(238px, 100%);
  height: 50px;
  border-radius: 68px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.button_primary {
  color: #ffffff;
  background: var(--btn-primary-bg);
  border-color: var(--btn-primary-bg);
}
.button_primary:hover {
  background: var(--btn-primary-bg-hover);
  border-color: var(--btn-primary-bg-hover);
}
.button_primary:active {
  background: var(--btn-primary-bg-click);
  border-color: var(--btn-primary-bg-click);
}
.button_secondary {
  color: var(--text-secondary);
  background: transparent;
  border-color: var(--btn-secondary-bg);
}
.button_secondary:hover {
  color: #ffffff;
  background: var(--btn-secondary-bg);
}
.button_secondary:active {
  color: #ffffff;
  background: var(--btn-secondary-bg-click);
  border-color: var(--btn-secondary-bg-click);
}

.promo-block__wrapper {
  background: var(--dark-blue);
  margin-top: 70px;
  min-height: 80vh;
  position: relative;
  overflow: hidden;
}
.promo-block__wrapper::before {
  content: "";
  height: calc(25% + 16px);
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: var(--theme-red);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 calc(100% - 16px));
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 calc(100% - 16px));
}
.promo-block__wrapper::after {
  content: "";
  height: 25%;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0px;
  background: #f8f9ff;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 calc(100% - 1px));
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 calc(100% - 1px));
}
.promo-block__content {
  max-width: min(100% - 40px, 1180px);
  margin: 110px auto;
  z-index: 1;
  display: flex;
  gap: 5vw;
}
.promo-block__content > * {
  flex: 1 1;
}
.promo-block__content::before {
  content: "";
  position: absolute;
  left: -6vw;
  top: -20vw;
  background-image: url("./images/promo-block/back-logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 41vw;
  width: 41vw;
  opacity: 7%;
  pointer-events: none;
}
.promo-block__content::after {
  content: "";
  position: absolute;
  right: -22vw;
  bottom: -38vw;
  background-image: url("./images/promo-block/back-logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vw;
  width: 90vw;
  opacity: 7%;
  pointer-events: none;
}
.promo-block__description {
  padding-top: 80px;
  z-index: 1;
}
.promo-block__description-title {
  color: #fff;
  margin-bottom: 15px;
}
.promo-block__description-text {
  color: var(--text-secondary);
}
.promo-block__description-btn {
  margin-top: 50px;
}
.promo-block__charts-preview {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
}
.promo-block__circle-progressbar-wrapper {
  padding: 26px 34px 26px 34px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 2;
  margin-top: 10vh;
}
.promo-block__progressbar-hint {
  font-size: 9.63px;
  font-weight: 400;
  line-height: 13.48px;
  color: var(--text-secondary);
}
.promo-block__circle-progressbar-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 26px;
  padding-right: 14px;
  gap: 3vw;
}
.promo-block__circle-progressbars {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.promo-block__circle-progressbar_absolute {
  position: absolute;
}
.promo-block__circle-progressbar-text {
  font-size: 7.22px;
  font-weight: 400;
  line-height: 10.11px;
  text-align: center;
  color: var(--text-secondary);
  position: absolute;
}
.promo-block__circle-progressbar-data-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}
.promo-block__circle-progressbar-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promo-block__progressbar-percentage {
  font-size: 23.72px;
  font-weight: 400;
  line-height: 27.8px;
}
.promo-block__progressbar-percentage_color_red {
  color: var(--theme-red);
}
.promo-block__progressbar-percentage_color_blue {
  color: var(--theme-blue);
}
.promo-block__percentage-hint {
  font-size: 10.83px;
  font-weight: 400;
  line-height: 16.25px;
  color: var(--text-secondary);
}
.promo-block__other-charts {
  padding: 22px 27px 22px 27px;
  border-radius: 30px;
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
  background: #fff;
  position: absolute;
  top: 0px;
  left: 4vw;
  height: 58vh;
}
.promo-block__other-charts img {
  height: 100%;
}/*# sourceMappingURL=styles.css.map */